/* Background Color */

body {
    background-color: rgb(0, 0, 0);
  }

  /* WebHang */
title {
position: absolute;
width: 155px;
height: 40px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 47px;

color: #FFFFFF;
}

