/* global css */

@font-face {
    font-family: 'IBM Plex Mono';
    src: url(./fonts/IBMPlexMono-Text.woff2);
}

input {
    color: white;
    outline: none;
    font-family: 'IBM Plex Mono';
    padding-left: 10px;
    position: relative;
}

body {
    background-color: rgb(0, 0, 0);
}

#centre {
    display: center;
}


/* WebHang */

h1 {
    width: 155px;
    height: 40px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
}


/* Name */

p {
    width: 50px;
    height: 28px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}


/* Rectangle 2 */

#jsusername1 {
    box-sizing: border-box;
    width: 396px;
    height: 36px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}

#aurl {
    /* Avatar URL */
    width: 120px;
    height: 28px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

#jspfp1 {
    /* Rectangle 2 */
    box-sizing: border-box;
    width: 198px;
    height: 36px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}

#urlxt {
    /* URL */
    width: 120px;
    height: 28px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

#jsurl1 {
    /* Rectangle 2 */
    box-sizing: border-box;
    width: 198px;
    height: 36px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}

#msgt {
    /* Message */
    width: 85px;
    height: 20px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

#jscontent1 {
    /* Rectangle 2 */
    box-sizing: border-box;
    width: 396px;
    height: 129px;
    background: #000000;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#rawt {
    /* Raw JSON */
    width: 73px;
    height: 15px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

button {
    /* Group 3 */
    position: absolute;
    width: 120px;
    height: 44px;
    /* Rectangle 3 */
    box-sizing: border-box;
    position: absolute;
    width: 120px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
    /* Send */
    position: absolute;
    width: 120px;
    height: 44px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}